@import "mocha.css";

* {
    font-family: FantasqueSansMono Nerd Font;
    font-size: 1rem;
    min-height: 0;
}

#waybar {
    background-color: rgba(0, 0, 0, 0.7);
    color: @text;
    margin: 2px 5px;
}

#workspaces {
    border-radius: 1rem;
    margin: 2px 0.4rem;
}

#workspaces button {
    color: @mauve;
    border-radius: 2rem;
}

#workspaces button.focused {
    color: @red;
}

#workspaces button.urgent {
    color: @flamingo;
}

#workspaces button:hover {
    color: @sapphire;
}

#custom-music,
#tray,
#cpu,
#clock,
#memory,
#network,
#temperature,
#wireplumber,
#custom-lock,
#custom-power {
    padding: 0.5rem 1rem;
    margin: 2px 0;
}

#temperature {
    border-radius: 0 1rem 1rem 0;
    margin-right: 0.4rem;
}


#clock {
    color: @blue;
    border-radius: 1rem;
    margin-right: 0.4rem;
}

#wireplumber {
    color: @maroon;
    border-radius: 1rem 0px 0px 1rem;
    margin-left: 0.4rem;
}

#custom-music {
    color: @mauve;
    border-radius: 1rem;
}

#tray {
    margin-right: 0.2rem;
    border-radius: 1rem;
}
